 .mobile-footer-container {
  width: 100%;
  position: fixed;
  bottom: 0;

  button {
   height: 41px;
   width: 90px;
   border-radius: 22px;
   border: none;
   background-color: #222222;
   color: white;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   gap: 7px;
   // transform: translateY(100%);
   transition: transform 0.5s ease, opacity 0.5s ease;

   p {
    font-weight: 600;
    font-size: 12.5px;
   }

   img {
    height: 16px;
    filter: invert(100%)
   }
  }

  button:hover {
   cursor: pointer;
  }
 }

 .sticky-footer-container {
  width: 100%;
  height: 65px;
  padding-top: 12px;
  border-top: 1px solid #e7e7e7;
  background-color: white;
  // transform: translateY(0);
  transition: transform 0.2s ease-in, opacity 0.2s ease-out;

  ul {
   list-style-type: none;
   display: flex;
   justify-content: center;
   align-content: center;
   gap: 10%;

   li {


    img {
     height: 24px;
     opacity: 60%;
    }

    p {
     font-size: 11px;
     color: #6a6a6a
    }
   }

   li:hover {
    img {
     opacity: 100%;
     filter: invert(17%) sepia(85%) saturate(7106%) hue-rotate(344deg) brightness(85%) contrast(114%);
    }

    p {
     font-weight: 400;
     color: #e60023;
    }
   }
  }
 }


 /* Scroll Down: Original Footer Slides Down & Fades */
 .fade-down {
  transform: translateY(100%);
  opacity: 0;
 }

 /* Scroll Down: New Footer Fades In */
 .fade-in {
  transform: translateY(0);
  opacity: 1;
 }

 /* Scroll Up: New Footer Stays on Top */
 .stay-on-top {
  transform: translateY(0);
  opacity: 1;
  z-index: 10;
 }

 /* Top of Page: New Footer Fades Away */
 .fade-out {
  opacity: 0;
  pointer-events: none;
  /* Prevents interaction */
 }

 /* Scroll Down: Original Footer Slides Down & Out of View */
 .slide-down {
  transform: translateY(100%);
 }

 /* Scroll Down: New Footer Slides Into View */
 .slide-in {
  transform: translateY(0);
  opacity: 1;
 }

 @media screen and (max-width: 767px) {
  .map-bttn-mid-screen-size {
   display: none;
  }
 }

 @media screen and (min-width: 768px) {
  .mobile-footer-container {
   display: none;
  }

  .map-bttn-mid-screen-size {
   position: fixed;
   bottom: 40px;
   left: calc(50% - 70px);
   height: 50px;
   width: 140px;
   border-radius: 27px;
   border: none;
   background-color: #222222;
   color: white;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   gap: 8px;

   p {
    font-weight: 550;
    font-size: 15px;
   }

   img {
    height: 16px;
    filter: invert(100%)
   }
  }
 }